body.light {
    --background-color: #f0f0f0;
    --text-color: #0f0f0f;
    background-color: var(--background-color);
    color: var(--text-color);
    --image-filter: none;
    --alt-color: #d9d6d6;
    --text2-color: #3f3f3f;
    --highlight-color: #0e4eb5;
    --error-msg: rgb(250, 95, 95);
}

body.dark {
    --background-color: #0f0f0f;
    --text-color: #ffffff;
    background-color: var(--background-color);
    color: var(--text-color);
    --image-filter: invert(1);
    --alt-color: #262929;
    --text2-color: #a0a0a0;
    --highlight-color: #0e4eb5;
    --error-msg: rgb(194, 87, 87);
}
