.outer {
    height: 91vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.outer::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.channelinfo {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.banner {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 30px;
}

.banner img {
    position: relative;
    height: 150px;
    width: 150px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mypic {
    height: 150px;
    border-radius: 50%;
}

.details {
    margin-left: 20px;
}

.details .name {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.menus {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--alt-color);
    margin-left: 100px;
    margin: 0;
}

.menubutton {
    font-size: 14px;
    color: var(--text2-color);
    font-weight: 500;
    margin-right: 20px;
    padding: 0;
    color: var(--text2-color);
    cursor: pointer;
}

.active {
    font-weight: 500;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.menus img {
    width: 22px;
    height: 22px;
    filter: var(--image-filter);
    margin: 14px;
}

.menus input {
    background-color: var(--alt-color);
    border: none;
    margin-top: 14px;
    height: 22px;
}

.videos {
    flex: 1;
    height: 91vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
